<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUAJ9zIGc4H6IYs5_MUEFHrhHw2H0ZLrE</string>
	<key>GCM_SENDER_ID</key>
	<string>44802405271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>olyabolya.Threads</string>
	<key>PROJECT_ID</key>
	<string>threads-993ad</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-993ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44802405271:ios:1d1679e379c7b46af50ad2</string>
</dict>
</plist>